[Link for notebook] (https://www.kaggle.com/codename007/top-funding-startups-in-india)

In [2]:
import numpy as np 
import pandas as pd # data processing 
import matplotlib.pyplot as plt # visualisation
import seaborn as sns 
color = sns.color_palette()

import plotly.offline as py 
py.init_notebook_mode(connected=True)
import plotly.graph_objs as go 
%matplotlib inline
pd.options.mode.chained_assignment = None 
# pd.options.display.max_columns = 999

In [3]:
funding_data = pd.read_csv("D:\Documents\Academics\MachinelearningEP\startup_funding.csv")
funding_data.head()

,Sr No,Date dd/mm/yyyy,Startup Name,Industry Vertical,SubVertical,City Location,Investors Name,InvestmentnType,Amount in USD,Remarks
0,1,09/01/2020,BYJU’S,E-Tech,E-learning,Bengaluru,Tiger Global Management,Private Equity Round,"20,00,00,000",NaN
1,2,13/01/2020,Shuttl,Transportation,App based shuttle service,Gurgaon,Susquehanna Growth Equity,Series C,"80,48,394",NaN
2,3,09/01/2020,Mamaearth,E-commerce,Retailer of baby and toddler products,Bengaluru,Sequoia Capital India,Series B,"1,83,58,860",NaN
3,4,02/01/2020,https://www.wealthbucket.in/,FinTech,Online Investment,New Delhi,Vinod Khatumal,Pre-series A,"30,00,000",NaN
4,5,02/01/2020,Fashor,Fashion and Apparel,Embroiled Clothes For Women,Mumbai,Sprout Venture Partners,Seed Round,"18,00,000",NaN

In [4]:
funding_data.columns

Index(['Sr No', 'Date dd/mm/yyyy', 'Startup Name', 'Industry Vertical',
       'SubVertical', 'City  Location', 'Investors Name', 'InvestmentnType',
       'Amount in USD', 'Remarks'],
      dtype='object')

In [5]:
print("Size of data(Rows, Columns)",funding_data.shape)

Size of data(Rows, Columns) (3044, 10)

In [6]:
# missing data
total = funding_data.isnull().sum().sort_values(ascending = False)
percent = ((funding_data.isnull().sum()/funding_data.isnull().count())*100).sort_values(ascending=False)
missing_data = pd.concat([total, percent], axis=1, keys=['Total', 'Percent %'])
missing_data.head()

                   Total  Percent %
Remarks             2625  86.235217
Amount in USD        960  31.537451
SubVertical          936  30.749014
City  Location       180   5.913272
Industry Vertical    171   5.617608

In [7]:
del funding_data["Remarks"]
funding_data.head()

,Sr No,Date dd/mm/yyyy,Startup Name,Industry Vertical,SubVertical,City Location,Investors Name,InvestmentnType,Amount in USD
0,1,09/01/2020,BYJU’S,E-Tech,E-learning,Bengaluru,Tiger Global Management,Private Equity Round,"20,00,00,000"
1,2,13/01/2020,Shuttl,Transportation,App based shuttle service,Gurgaon,Susquehanna Growth Equity,Series C,"80,48,394"
2,3,09/01/2020,Mamaearth,E-commerce,Retailer of baby and toddler products,Bengaluru,Sequoia Capital India,Series B,"1,83,58,860"
3,4,02/01/2020,https://www.wealthbucket.in/,FinTech,Online Investment,New Delhi,Vinod Khatumal,Pre-series A,"30,00,000"
4,5,02/01/2020,Fashor,Fashion and Apparel,Embroiled Clothes For Women,Mumbai,Sprout Venture Partners,Seed Round,"18,00,000"

In [10]:
funding_data["Amount in USD"] = funding_data["Amount in USD"].apply(lambda x: float(str(x).replace(",","")))
funding_data["Amount in USD"] = pd.to_numeric(funding_data["Amount in USD"])
funding_data.head()

ValueError: could not convert string to float: 'undisclosed'